@{
    ViewData["Title"] = "EditarUsuarios";
}

    <div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
        <div>
            <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
            <h4>Editar Usuário <img style="width: 20px;" src="~/images/loader.gif" id="loaderImg" hidden></h4>
        </div>
        <hr />

        @if (@ViewBag.id != 0)
        {
            <form asp-controller="Usuarios" asp-action="EditarUsuariosPost" method="post" onsubmit="disableObj(SalvarBtn);disableObj(CancelarBtn);showObj(loaderImg)">
                <h6 for="id">Código: @ViewBag.id</h6>
                <hr />
                <input class="input input-sm" autocomplete="off" id="id" name="id" type="hidden" value="@ViewBag.id" />

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="nome">Nome</label>
                        <input class="form-control" autocomplete="off" id="nome" name="nome" type="text" value="@ViewBag.nome" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="email">e-mail</label>
                        <input class="form-control" autocomplete="off" id="email" name="email" type="text" value="@ViewBag.email" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="data_nasc">Data nasc.</label>
                        <input class="form-control" autocomplete="off" id="data_nasc" name="data_nasc" type="date" value="@ViewBag.data_nasc" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="cpf">CPF</label>
                        <input class="form-control" autocomplete="off" id="cpf" name="cpf" type="text" value="@ViewBag.cpf" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-check">
                        <div class="form-group col-md-1">
                            @if (ViewBag.aplicativo == "S")
                            {
                                <input type="checkbox" class="form-check-input" name="aplicativo" value="S" checked>
                            }
                            else
                            {
                                <input type="checkbox" class="form-check-input" name="aplicativo" value="S">
                            }
                            <label class="form-check-label" for="aplicativo">Aplicativo</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="situacao">Situação</label>
                        <select class="form-control" name="id_situacao">
                            <option value="" selected disabled hidden></option>
                            @foreach (var situacao in ViewBag.situacoes)
                            {
                                @if (situacao.Id == ViewBag.id_situacao)
                                {
                                    <option value="@situacao.Id" selected>@situacao.Descricao</option>
                                }
                                else
                                {
                                    <option value="@situacao.Id">@situacao.Descricao</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2">
                        <button class="btn btn-success col-5" id="SalvarBtn" type="submit"><i class="fas fa-check"></i> Salvar</button>
                        <button class="btn btn-danger col-5" type="button" value="Cancelar" onclick="location.href='@Url.Action("RefazerUltimaConsultaUsuario", "Usuarios")'"><i class="fas fa-times"></i> Cancelar</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-info col-5" type="button" value="Voltar" onclick="location.href='@Url.Action("RefazerUltimaConsultaUsuario", "Usuarios")'"><i class="fas fa-arrow-left"></i> Voltar</button>
                </div>
            </div>
        }
        <hr />

        @if (ViewBag.responseStatusCode == "OK")
        {
            @if (ViewBag.erro || ViewBag.linhasafetadas == 0)
            {
                <h4 style="color : red">@ViewBag.mensagem</h4>
            }
            else
            {
                @if (ViewBag.linhasafetadas >= 1)
                {
                    <h4 style="color : green">Usuário atualizado.</h4>
                }
            }
        }
        else
        {
            <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
        }
    </div>


